.table thead tr th, .table tbody tr td {
    border: none;
}

#delete {
    background-color: white;
    color: white;
    border: none;
    border-top: hidden;
    border-bottom: hidden;
}

.picture2 {
    display: none;
}
.thumbnail:hover .picture1 {
    display: none;
}
.thumbnail:hover .picture2 {
    display: block;
}

.table-nostriped tbody tr:nth-of-type(odd) {
    background-color: transparent!important;}